* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-green: #81B622;
    --olive-green: #3D550C;
    --yellow-green: #ECF87F;
    --green: #59981A;
}

button{
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 3fr 5fr;
    background-color: var(--yellow-green);
}

.config {
    border: 3px solid black;
}

.passgen {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    border: 3px solid black;
}

.chrselection {
    display: flex;
    align-items: center;
    border: 3px solid black;
}

.passgen-form {
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-rows: 7fr 3fr;
    grid-template-columns: 1fr;
    background-color: var(--olive-green);
}

p {
    grid-column: 1 / 3;
    /* background-color: skyblue; */
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    color: black;
}

button {
    font-size: 1.5rem;
    color: black;    
}

button:active {
    border: 3px solid  rgb(30, 178, 236);
}

.button-generate {
    background-color: var(--olive-green);
}

.chrbutton {
    width: 50px;
    height: 50px;
    background-color: var(--olive-green);
    border-radius: 20%;
    margin: 0.5rem;
}

.button-clicked {
    border: 3px solid whitesmoke;
    color: whitesmoke;
}