/* Normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* General styles */

body {
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr;
}

p {
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    color: black;
}

button {
    font-size: 1.5rem;
    color: black;
}

button:active {
    border: 3px solid  whitesmoke;
}

/* Config section */

.config {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr;
}

.config-passwordLength {
    border: 3px solid black;
}

.config-characterType {
    border: 3px solid black;
    font-size: 1.5rem;
}

.config-addCharacter {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border: 3px solid black;
    padding: 1rem;
    background-color: aquamarine;
}

.buttonArray {
    background-color: steelblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.characterButton {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border-bottom-left-radius: 25%;
    border: 2px solid black;
}

.--clicked {
    border: 3px solid whitesmoke;
    color: whitesmoke;
}

#lengthInput {
    width: 80%;
    height: 20%;
}

/* Passgen section */

.passgen {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    border: 3px solid black;
}

.passgen-form {
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-rows: 5fr 2fr;
    grid-template-columns: 1fr;
    border: 3px solid black;
}

.passgen-form div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonGenerate {
    border: 3px solid rgb(28, 163, 34);
}

.password {
    width: 80%;
    height: 2rem;
    font-size: 1.5rem;
}