* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 3fr 5fr;
}

.config {
    background-color: #f2f8fc;
}

.passgen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbf5df;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.chrselection {
    background-color: #f4f1f8;
    display: flex;
    align-items: center;
}

.passgen-form {
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 4fr 3fr;
}

p {
    grid-column: 1 / 3;
    background-color: skyblue;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    color: black;
}

button {
    font-size: 1.5rem;
    color: black;    
}

button:active {
    border: 3px solid  rgb(30, 178, 236);
}

.button-config {
    background-color: skyblue;
}

.button-generate {
    background-color: skyblue;
}

.chrbutton {
    width: 50px;
    height: 50px;
    background-color: skyblue;
    border-radius: 20%;
    margin: 0.5rem;
}

.chrbutton:active {
    border: 3px solid  rgb(30, 178, 236);
}